body{
    background-image: url(https://wallpapercave.com/wp/wp2903360.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container{
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin-top: 60px;
}

h1,p,#homebtn,#searchbtn{
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

.image{
    position: relative;
    height: 350px; 
}
